# Environment variables
.env
.env.local
.env.*.local
ai-core/data/*
ai-core/.venv/*
ai-core/.venvw/*
.venvw/*
ai-core/.venvw.zip

# Python
ai_core/__pycache__/*
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/ .venvw 이미 위에 있어서 제외
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/x
.installed.cfg
*.egg
MANIFEST
ai-core/studio_origin/*

# Model files (too large for GitHub)
ai-core/models/*
ai-core/services/stt/models/whisper/*.pt

# PyCharm
.idea/
*.iml
out/

# VSCode
.vscode/
*.code-workspace
.vscode/settings.json

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Test files and directories
test.sh
test_websocket.py
test-server/

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*~

# Logs
*.log
logs/
CallManager/logs/*
logs/*.log
# IDE
*.sublime-project
*.sublime-workspace

# CallManager development
CallManager/src/main/resources/application-dev.yml
ai-core/checkpoints/*
ngrok.exe
CallManager/src/test/java/com/haru_anbu/CallManager/resources/application-test.yml

# 3. Flutter / Dart 관련
.dart_tool/
.packages
.pub-cache/
.pub/
build/          # Flutter 빌드 결과물 (가장 용량 많이 차지)
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/android/key.properties
*.jks
*.keystore